In [1]:
import numpy as np  # useful for many scientific computing in Python
import pandas as pd # primary data structure library

In [2]:
# data visualization
#import seaborn as sns
#%matplotlib inline
#from matplotlib import pyplot as plt
#from matplotlib import style

# Algorithms
#from sklearn import linear_model
#from sklearn.linear_model import LogisticRegression
#from sklearn.ensemble import RandomForestClassifier
#from sklearn.linear_model import Perceptron
#from sklearn.linear_model import SGDClassifier
#from sklearn.tree import DecisionTreeClassifier
#from sklearn.neighbors import KNeighborsClassifier
#from sklearn.svm import SVC, LinearSVC
#from sklearn.naive_bayes import GaussianNB

In [3]:
df = pd.read_csv('/Users/user/Downloads/Titanic_Disaster_Dataset/titanic.csv')
df

      pclass     sex      age      fare  survived
0          1  female  29.0000  211.3375         1
1          1    male   0.9167  151.5500         1
2          1  female   2.0000  151.5500         0
3          1    male  30.0000  151.5500         0
4          1  female  25.0000  151.5500         0
...      ...     ...      ...       ...       ...
1304       3  female  14.5000   14.4542         0
1305       3  female      NaN   14.4542         0
1306       3    male  26.5000    7.2250         0
1307       3    male  27.0000    7.2250         0
1308       3    male  29.0000    7.8750         0

[1309 rows x 5 columns]

In [4]:
#Dropping multiple columns: For dropping multiple columns, pass the list of column names that are to be dropped in the label parameter.
## Pass the integer-based index values to the iloc indexing method
#df.drop(df.iloc[:, [*, **]], axis=1) OR
#df.drop(labels=['name', 'sibsp', 'parch', 'ticket', 'cabin', 'embarked', 'boat', 'body', 'home.dest'], axis=1)

In [5]:
#df.shape
df.head()

   pclass     sex      age      fare  survived
0       1  female  29.0000  211.3375         1
1       1    male   0.9167  151.5500         1
2       1  female   2.0000  151.5500         0
3       1    male  30.0000  151.5500         0
4       1  female  25.0000  151.5500         0

In [6]:
#Mapping Text_Data to Binary Value
income_set = set(df['sex'])
df['sex'] = df['sex'].map({'male': 0,'female': 1})
df.head

<bound method NDFrame.head of       pclass  sex      age      fare  survived
0          1    1  29.0000  211.3375         1
1          1    0   0.9167  151.5500         1
2          1    1   2.0000  151.5500         0
3          1    0  30.0000  151.5500         0
4          1    1  25.0000  151.5500         0
...      ...  ...      ...       ...       ...
1304       3    1  14.5000   14.4542         0
1305       3    1      NaN   14.4542         0
1306       3    0  26.5000    7.2250         0
1307       3    0  27.0000    7.2250         0
1308       3    0  29.0000    7.8750         0

[1309 rows x 5 columns]>

In [7]:
#Segregation of Dataset into X and Y

X = df.drop('survived', axis = 'columns')
X

      pclass  sex      age      fare
0          1    1  29.0000  211.3375
1          1    0   0.9167  151.5500
2          1    1   2.0000  151.5500
3          1    0  30.0000  151.5500
4          1    1  25.0000  151.5500
...      ...  ...      ...       ...
1304       3    1  14.5000   14.4542
1305       3    1      NaN   14.4542
1306       3    0  26.5000    7.2250
1307       3    0  27.0000    7.2250
1308       3    0  29.0000    7.8750

[1309 rows x 4 columns]

In [8]:
Y = df.survived
Y

0       1
1       1
2       0
3       0
4       0
       ..
1304    0
1305    0
1306    0
1307    0
1308    0
Name: survived, Length: 1309, dtype: int64

In [9]:
# Segregation of Dataset into X and Y Variables
X.columns[X.isna().any()]
X.age = X.age.fillna(X.age.mean())

In [10]:
#Finding NA values from the features X
X.columns[X.isna().any()]

Index(['fare'], dtype='object')

In [11]:
#Removing NA values from the features X
X.fare = X.fare.fillna(X.fare.mean())

In [12]:
#Finding NA values from the features X again
X.columns[X.isna().any()]

Index([], dtype='object')

In [13]:
# Splitting  Dataset in Train and Test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split (X, Y, test_size = 0.25, random_state=0)

In [14]:
# Training using Algorithm
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit (X_train, y_train)

GaussianNB()

In [15]:
# Predicting whether Person Survived or Not
pclassNo = int(input("Enter Person's Pclass number: "))
gender = int(input("Enter Persons's Gender 0-female 1-male(0 or 1):"))
age = int(input("Enter Person's Age : "))
fare = float(input("Enter Person's Fare:"))
person = [[pclassNo, gender, age, fare]]
result = model.predict(person)
print(result)

if result ==1:
    print("Person might be survived")
else:
    print("Person might not be survived")

Enter Person's Pclass number:  2
Enter Persons's Gender 0-female 1-male(0 or 1): 0
Enter Person's Age :  65
Enter Person's Fare: 155

[1]
Person might be survived

/Users/user/.local/lib/python3.8/site-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

In [18]:
# Prediction for all Test Data

y_pred = model.predict(X_test)
print(np.column_stack((y_pred,y_test)))

[[0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 1]
 [0 1]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 1]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [0 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 1]
 [0 0]
 [0 0]
 [1 0]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 0]
 [0 1]
 [1 0]
 [0 0]
 [0 0]
 [1 1]
 [0 1]
 [0 0]
 [1 1]
 [0 1]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [1 1]
 [1 0]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [1 0]
 [0 1]
 [1 0]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [1 0]
 [1 1]
 [0 0]
 [0 1]
 [0 0]
 [1 0]
 [1 1]
 [0 0]
 [1 1]
 [1 0]
 [0 1]
 [0 0]
 [1 1]
 [0 0]
 [0 1]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [1 0]
 [0 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 1]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [1 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [1 0]
 [1 0]
 [0 1]
 [1 1]
 [0 1]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [1 0]
 [0 0]
 [1 0]
 [1 0]
 [1 1]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [1 0]
 [1 1]
 [1 0]
 [0 1]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [1 1]
 [0 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [1 1]
 [0 0]
 [0 1]
 [0 1]
 [0 1]
 [0 0]
 [0 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [1 0]
 [1 0]
 [0 0]
 [1 0]
 [1 0]
 [1 0]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 1]
 [1 1]
 [0 0]
 [1 1]
 [1 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [1 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [1 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 1]
 [0 0]
 [1 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]]

In [19]:
# Accuracy of the Model
from sklearn.metrics import accuracy_score
print ("Accuracy of the Model:{0}%".format(accuracy_score(y_test, y_pred)*100))

Accuracy of the Model:76.82926829268293%